
# PostgreSQL
POSTGRES_PASSWORD=AandromedaA1@3$
POSTGRES_USER=nuntoman
CONN_MAX_AGE=
DATABASE_URL="postgres://nuntoman:AandromedaA1@3$@127.0.0.1:5432/wedding"

# Domain name, used by caddy
DOMAIN_NAME=wedding.myhub.events

# General settings
# DJANGO_READ_DOT_ENV_FILE=True
DJANGO_ADMIN_URL=
DJANGO_SETTINGS_MODULE=config.settings.production
DJANGO_SECRET_KEY=j(e@~sP:PF.M~!2wJf:b|X<,vfAG[fpV<?mC)%]2cx5NG<=8Xx
DJANGO_ALLOWED_HOSTS=.wedding.myhub.events

# AWS Settings
DJANGO_AWS_ACCESS_KEY_ID=
DJANGO_AWS_SECRET_ACCESS_KEY=
DJANGO_AWS_STORAGE_BUCKET_NAME=

# Used with email
DJANGO_MAILGUN_API_KEY=
DJANGO_SERVER_EMAIL=
MAILGUN_SENDER_DOMAIN=

# Security! Better to use DNS for this task, but you can use redirect
DJANGO_SECURE_SSL_REDIRECT=False

# django-allauth
DJANGO_ACCOUNT_ALLOW_REGISTRATION=True



